

<div class="row justify-content-center">
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
        <li class="list-group-item">{{client.id}}</li>
        <li class="list-group-item">{{client.typeIdentification}}</li>
        <li class="list-group-item">{{client.identification}}</li>
        <li class="list-group-item">{{client.name}}</li>
        <li class="list-group-item">{{client.city}}</li>
        <li class="list-group-item">{{client.address}}</li>
        <li class="list-group-item">{{client.phone}}</li>
        </ul>
    </div>
</div>